*.o
*.lo
*.la
*.so
*.a
*.exe
*.log
*~
*#
.#*

configure
config.guess
config.h
config.h.in
config.status
config.sub

Makefile
Makefile.in
stamp-h1
snake
snake_exe
*.tar.gz

install-sh
libtool
ltmain.sh
depcomp
autom4te.cache/
aclocal.m4

missing
compile
.deps/
.libs/

GPATH
GRTAGS
GTAGS
.DS_Store

aclocal-copy